.primary-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 3rem;

    .logo {
        width: 2rem;

        img {
            width: 100%;
        }
    }

    p {
        margin: 0;
        padding: 0;
    }
    &-text{
        display: flex;

        .main-title {
            font-size: 1.5rem;
            font-weight: 800;
            margin-bottom: -.5rem;
            margin-right: .5rem;
        }
    
        .secondary-title {
            font-size: .6rem;
            font-weight: 400;
            text-align: center;
            margin-top: -.4rem;
        }
    }
}

.container {
    .search-panel {
        display: flex;
        flex-direction: column;
    
        .city-name {
            .sun-info {
                display: flex;
                margin-left: 2rem;
                justify-content: center;
    
                div {
                    padding-top: .5rem
                }
    
                h2 {
                    margin-left: .5rem;
                    display: block;
                }
        
                p {
                    display: block;
                    margin: .5rem 0 0 1rem;
                }
            }
        }
    
    }
    
    .errors {
        position: fixed;
        display: block;
        top: 10vh;
        left: 10vw;
        width: 80vw;
        height: 20vh;
    }    
}

@media (min-width: 768px) {
    .container {
        .search-panel {
            flex-direction: column;
            place-items: center;

            .search-input {
                width: 100%;
            }
        
            .city-name {
                margin-bottom: 1rem;
                .sun-info {
                   
        
                    div {
                        
                    }
        
                    h2 {
                        
                    }
            
                    p {
                       
                    }
                }
            }
        
        }
        
        .errors {

        }    
    }
}

@media (min-width: 768px) {
    .container {
        .search-panel {
            flex-direction: row!important;

            .search-input {
                width: 50%;
            }
        
            .city-name {
                margin-bottom: 1rem;
                .sun-info {
                   
        
                    div {
                        
                    }
        
                    h2 {
                        
                    }
            
                    p {
                       
                    }
                }
            }
        
        }
        
        .errors {

        }    
    }
}