.container {
    display: flex;
    padding-top: 1rem;

    mat-form-field {
        width: 100%;

        input {
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .container {
        display: flex;
        place-content: center;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
    
        mat-form-field {
            width: 30vw;
        }
    }
}